@charset "UTF-8";
*{
    margin:0px ;  /*para tirar a margem*/
    padding: 0px; /*para tirar o paddding*/
    font-family: Arial, Helvetica, sans-serif; /*para ter arial como fonte padrao*/
}
html,body{
    height: 100vh; /*para usar 100% da altura da tela*/
    width: 100vw; /*para usar 100% da largura da tela*/
    background-color: black;
}
body{
    background: url('../pacote-d013/imagens/fundo-madeira.jpg') no-repeat top center;/*fundo nao se repete, e fica no topo do meio*/
    background-size:cover ;/*cover e usado para  a imagem caber mesmo que tenha que cortar parte dela*/
    background-attachment: fixed;/*imagem fixa quando descer*/
}

main{
    height: 100vh;
    position: relative;
}

section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);     
    height: 627px;
    width: 311px;
    background: url('../pacote-d013/imagens/frame-iphone.png') no-repeat;
}

/*position: relative;(main{)

 position: absolute;(section#{)
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); codigos para centralizar a section*/ 
    

#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;
}
section#redes{
    text-align: right;/*deixar os botoes na direita*/
}
section#redes img{
    width: 50px;/*largura*/
    height: 50px;/*altura*/
    margin: 10px;/*separar as imagens*/
    border-radius: 50%;/*deixar imagem redonda*/
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.397);/*sombra dos botoes*/
    box-sizing: border-box;/*efeito bonito, só confia*/
}
section#redes img:hover{
    border: 2px solid rgba(255, 255, 255, 0.623);/*quando passar o mouse encima cria uma borda*/
    transform: translate(-3px, -3px);/*para o botao se mexer quando passar o mouse*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.63);/*sombra de quando passar o mouse, deve ser maior doq a sombra normal*/
    transition: transform .3s, border 1s;/*para o transfom aparecer em 0.3s e border em 1s*/
}